body {
    background-color: #292C32;
    color: #ffffff;
    font-family: StaticFont;
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

.navbar-inverse {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar-inverse .brand, .navbar-inverse .brand:hover {
    color: #FA5858;
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-inner {
    background-color: #292C32;
    background-image: none;
    border-color: #292C32;
}

.social-home {
    float:right;
}

.social-home span{
    margin-right: 18px;
}

.img-social-home {
    width: 60px;
}

@font-face {
    font-family: "StaticFont";
    src: url("../css/font/static/Static.otf");
}
@font-face {
    font-family: StaticFont;
    font-weight: bold;
    src: url("../css/font/static/StaticBold.otf");
}
@font-face {
    font-family: StaticFont;
    font-style: italic;
    src: url("../css/font/static/StaticItalic.otf");
}
@font-face {
    font-family: StaticFont;
    font-weight: bold;
    font-style: italic;
    src: url("../css/font/static/StaticItalicBold.otf");
}

@font-face {
    font-family: "BebasNeue";
    src: url("../css/font/bebasNeue/BebasNeue.otf");
}