<?php
$title = 'create new run';
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('place'));
echo $this->formRow($form->get('date'));
echo $this->formRow($form->get('time'));
echo $this->formRow($form->get('distance'));
echo $this->formRow($form->get('duration'));
echo $this->formRow($form->get('pace'));
echo $this->formRow($form->get('gpx'));
echo $this->formRow($form->get('meetingPoint'));
echo $this->formRow($form->get('description'));
echo $this->formRow($form->get('drinks'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();

if ($this->inserted === true) {
 ?>
 		<b>Your registry was inserted, have a good run!</b>
 <?php		
	}
?>