<ul>
<?php foreach ($this->list as $l): ?>
	<li>
		<?php echo $l['user_id']?>
		<?php echo $l['place']?>
		<?php echo $l['date']?>
		<?php echo $l['time']?>
		<?php echo $l['distance']?>
		<?php echo $l['duration']?>
		<?php echo $l['pace']?>
		<?php echo $l['meetingPoint']?>
		<?php echo $l['description']?>
		<?php echo $l['drinks']?>
	</li>
<?php endforeach; ?>
</ul>
