<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Berlin Social Runners'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon1.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.js')
                                      ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="<?php echo $this->url('home') ?>">
                        <?php echo $this->translate('BERLIN SOCIAL RUNNERS') ?>
                    </a>
                    <div class="social-home">
                        <span>Find us</span>
                        <a href="https://www.facebook.com/groups/BerlinSocialRunners/" target="_blank">
                            <img src="<?= $this->basePath() . '/img/main/index/facebook.png' ?>" class="img-circle img-social-home">
                        </a>
                        <a href="https://twitter.com/berlinrunners"  target="_blank">
                            <img src="<?= $this->basePath() . '/img/main/index/twitter.png' ?>" class="img-circle img-social-home">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <?php echo $this->content; ?>
            
            <footer>
                <p>Berlin Social Runners <?php echo date('Y') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
