.carousel-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newsletter span {
    padding-top: 10px;
}

.newsletterInput {
    margin-bottom: 0px !important;
    height: 32px !important;
    font-size: 18px !important;
    font-family: StaticFont;
}

.newsletterSubmit, .newsletterSubmit:hover  {
    background-image: none;
    background-color: #FA5858;
    border: #FA5858;
    color: #292C32;
    width: 118px !important;
    height: 42px;
    text-shadow: none;
    font-size: 18px;
    font-family: StaticFont;
}

a.accordion-toggle {
    color: #A4A4A4;
    font-size: 20px;
}

.img-circle-home {
    width: 55px;
    background-color: grey;
    margin-right: 20px;
}

.accordion-group {
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

.accordion-inner {
    color:#000000;
    background-color: #ffffff;
    padding: 0px;
}

.accordion-inner img {
    margin-bottom: 20px;
}

.accordion-inner div {
    padding-bottom: 15px;
}

.accordion-inner ul {
    margin-left: 200px;
}

.accordion-inner h3, .accordion-inner p {
    margin-left: 100px;
    margin-right: 100px;
}