<?=$this->headScript()->prependFile($this->basePath() . '/js/main/index/index.js'); ?>
<?=$this->headLink()->prependStylesheet($this->basePath() . '/css/main/index/index.css'); ?>


<div id="myCarousel" class="carousel slide" data-interval="8000">
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    	<li data-target="#myCarousel" data-slide-to="1"></li>
    	<li data-target="#myCarousel" data-slide-to="2"></li>
    	<li data-target="#myCarousel" data-slide-to="3"></li>
  	</ol>
  	<!-- Carousel items -->
  	<div class="carousel-inner">
		<div class="active item">
                <img src="<?=$this->basePath() . '/img/main/index/carousel1.jpg';?>">
		</div>
	    <div class="item">
	    	<img src="<?= $this->basePath() . '/img/main/index/carousel2.jpg'; ?>">
	    </div>
	    <div class="item">
	    	<img src="<?= $this->basePath() . '/img/main/index/carousel3.jpg'; ?>">
	    </div>
	    <div class="item">
	    	<img src="<?= $this->basePath() . '/img/main/index/carousel4.jpg'; ?>">
	    </div>
  	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="newsletter row">
    <span class="span2 offset3">Stay in touch</span>
    <form action="http://berlinsocialrunners.us7.list-manage.com/subscribe/post?u=049bc82d30e4869d740d24d3a&amp;id=1e15c6b33f"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="text" type="email" class="span3 newsletterInput"
               name="EMAIL" placeholder="email address" required>
        <input type="submit" class="btn newsletterSubmit" value="SUBSCRIBE!"/>
    </form>
</div>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <img src="<?= $this->basePath() . '/img/main/index/meeting2.png'?>" class="img-circle img-circle-home">
        MEETINGS
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <img src="<?=$this->basePath() . '/img/main/index/meeting-inner.jpg'?>">
          <div>
              <h3>OUR MEETINGS</h3>
              <p>
                  Join and post new meetings in your city. You could choose your favourite parks or routes, share with us!<br /><br />
                  Our runs are always by time or distance. Almost all runs we can start and end together. We are not competitive, we have fast and slow runners. If you are looking for meeting new friends, keep them motivated to run and have company when training for a race, here we are!<br /><br />
                  We also participate in some local races: Asics Race Berlin, Half Marathon…<br/>
                  Always when we finish our training we grab a snack or coffee<br />
                  Remember "Running is a lot more fun in a group":
              </p>
              <ul>
                  <li>Create your own event in Berlin</li>
                  <li>Decide the route, day and time and share with us</li>
                  <li>And…keep in mind a good place for drinks after!</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <img src="<?= $this->basePath() . '/img/main/index/route2.png'?>" class="img-circle img-circle-home">
        ROUTES
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse in">
      <div class="accordion-inner">
          <div>
              <h3>AM I NEAR BY ...</h3>
              <p>
                  You could choose your best routes and share with the group. We usually run in the difierent parks in Berlin. You could surprise us with new routes and we surprise you with the best company.<br/>
                  Discover new hills, new roads, new parks. All the routes are welcome because if you run we run.<br />
                  Define distances, places, logs, altitude, elevation and the ability to share routes!<br />
              </p>
              <ul>
                  <li>Create your own event in Berlin</li>
                  <li>Place</li>
                  <li>Distance and peace</li>
                  <li>Running Level</li>
                  <li>Drinks after place</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <img src="<?= $this->basePath() . '/img/main/index/sport2.png'?>" class="img-circle img-circle-home">
        SPORT-RELATED
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
          <div>
              <h3>WHAT ELSE?</h3>
              <p>
                  Join us and you will be discovering all the topics regarding runners in Berlin…and in the world: Runners, training, races, health, fashion runners, womens, coffee places, shops for runners. And important news about BSR!
              </p>
          </div>
      </div>
    </div>
  </div>
</div>

